logs
*.log
*.tmp
temp/

node_modules/
package-lock.json

coverage/
.nyc_output/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

test-results.xml

.env
.env.local

dist/
build/
*.js.map

mocha.opts

.nycrc
.nycrc.json